# Run `./scripts/dorothy-automation.sh init` instead of copying this file by hand.
MEM0_API_TOKEN=__GENERATE_ME__
MEM0_BASE_URL=http://127.0.0.1:8765
MEM0_PORT=8765
MEM0_USER_ID=user
MEM0_LLM_MODEL=llama3.1
MEM0_EMBED_MODEL=nomic-embed-text
MEM0_EMBED_DIMS=768
MEM0_COLLECTION=dorothy_memories

OPENHANDS_PORT=3001
OPENHANDS_WORKSPACE=__OPENHANDS_WORKSPACE__

